In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme()

In [8]:
filename = "../../Data/Genesis_Destatis/Waste Disposal Public/cleaned_32121-0001_Waste-Disposal-Public-Waste Disposal-volume of waste-years-type of waste.csv"
df = pd.read_csv(filename)
print(df.shape)
df.head()

(342, 6)

,Year,Waste Type,Amount Of Household Waste (1000t),Amount Of Household Waste Per Inhabitant (kg),Household Waste Disposed By The First Recipient (1000t),Household Waste Recycled By The First Recipient (1000t)
0,2004,Household and bulky waste,17045.8,207.0,16049.6,996.2
1,2004,"Household waste, commercial waste similar to h...",14452.4,175.0,14034.0,418.4
2,2004,Bulky waste,2593.4,31.0,2015.6,577.8
3,2004,Organic waste collected separately,8411.4,102.0,43.8,8367.6
4,2004,Waste from the bio bin,4121.1,50.0,13.4,4107.8

In [9]:
df['Year'].unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [10]:
df['Waste Type'].unique()

array(['Household and bulky waste',
       'Household waste, commercial waste similar to household waste',
       'Bulky waste', 'Organic waste collected separately',
       'Waste from the bio bin',
       'Biodegradable waste (garden, park waste)',
       'Separately collected recyclables', 'Glas',
       'Mixed valuables/packaging (incl. light packaging), composites',
       'Paper, Cardboard, Cardboard (PPK)', 'metals', 'Holz', 'Plastics',
       'textiles', 'Waste electrical appliances', 'other waste',
       'Other hazardous waste', 'Other non-hazardous waste', 'In total',
       'Waste from the organic waste bin',
       'Recyclable materials collected separately',
       'Mixed value/packaging (incl. light packaging), composites',
       'Other waste', 'Paper, cardboard, cardboard (PPK)'], dtype=object)

In [11]:
# Minor standardizing
df['Year'] = df['Year'].astype("str").astype("category")
df['Waste Type'] = df['Waste Type'].str.title()
df['Waste Type'] = df['Waste Type'].astype("category")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 6 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     342 non-null    category
 1   Waste Type                                               342 non-null    category
 2   Amount Of Household Waste (1000t)                        326 non-null    float64
 3   Amount Of Household Waste Per Inhabitant (kg)            326 non-null    float64
 4   Household Waste Disposed By The First Recipient (1000t)  317 non-null    float64
 5   Household Waste Recycled By The First Recipient (1000t)  326 non-null    float64
dtypes: category(2), float64(4)
memory usage: 12.9 KB

## HBar plot of KPI in a year for all waste type

## Change in KPI through years for a waste type (lineplot)

## Change in KPI through years for all waste type (hue=wastetype, lineplot)

## Compare change in Household waste recycled and disposed through years for a waste type

## Average KPIs by year