In [1]:
import pandas as pd 
import numpy as np

from googletrans import Translator

translator = Translator()

def to_float(x):
    if type(x) == str and "," in x:
        x = x.replace(",", ".")
        return float(x)
    return x

## Waste Generation-establishments-amount-federal states.csv
Table: 32161-0004
Columns: Year, State, Number Of Companies, Amount Of Waste Generated (1000t)
Read Lines: 6 - 53
To Translate: None

In [2]:
column_names = "Year, State, Number Of Companies, Amount Of Waste Generated (1000t)"
column_names = column_names.split(", ")
column_names

['Year', 'State', 'Number Of Companies', 'Amount Of Waste Generated (1000t)']

In [3]:
filename1 = "Waste Generation-establishments-amount-federal states.csv"
waste_df1 = pd.read_csv(filename1, sep=";", encoding="latin-1", header=None, skiprows=5, nrows=53-5, names=column_names)
waste_df1.head()

,Year,State,Number Of Companies,Amount Of Waste Generated (1000t)
0,2010,Baden-Württemberg,3471,"7251,4"
1,2010,Bayern,3280,"8768,5"
2,2010,Berlin,474,"1682,6"
3,2010,Brandenburg,429,"2765,1"
4,2010,Bremen,139,"358,1"

In [8]:
waste_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               48 non-null     int64
 1   State                              48 non-null     object
 2   Number Of Companies                48 non-null     int64
 3   Amount Of Waste Generated (1000t)  48 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.6+ KB

In [6]:
waste_df1['State'] = waste_df1['State'].apply(lambda x: translator.translate(x).text)

In [7]:
waste_df1['Amount Of Waste Generated (1000t)'] = waste_df1['Amount Of Waste Generated (1000t)'].apply(lambda x: to_float(x))

In [9]:
waste_df1.to_csv("cleaned_32161-0004_Waste-Generation-establishments-amount-federal-states.csv", index=False)

## Waste Generation-firms-amount-employees-degree.csv
Table: 32161-0003
Columns: Year, Industry Code, Industry, Number Of Companies, Amount Of Waste Generated (1000t), Number Of Employees (1000), Degree Of Coverage Of Companies (%), Degree of coverage of employees (%)
Read Lines: 9 - 50
To Translate: Industry

In [8]:
column_names = "Year, Industry Code, Industry, Number Of Companies, Amount Of Waste Generated (1000t), Number Of Employees (1000), Degree Of Coverage Of Companies (%), Degree of coverage of employees (%)"
column_names = column_names.split(", ")
column_names

['Year',
 'Industry Code',
 'Industry',
 'Number Of Companies',
 'Amount Of Waste Generated (1000t)',
 'Number Of Employees (1000)',
 'Degree Of Coverage Of Companies (%)',
 'Degree of coverage of employees (%)']

In [9]:
filename2 = "Waste Generation-firms-amount-employees-degree.csv"
waste_df2 = pd.read_csv(filename2, sep=";", encoding="latin-1", header=None, skiprows=8, nrows=50-8, names=column_names)
waste_df2.head()

,Year,Industry Code,Industry,Number Of Companies,Amount Of Waste Generated (1000t),Number Of Employees (1000),Degree Of Coverage Of Companies (%),Degree of coverage of employees (%)
0,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",55,"39,6","8,3","0,1","4,4"
1,2010,WZ08-05-02,Bergbau und Gewinnung von Steinen und Erden,64,"1569,7","51,1","2,1","62,0"
2,2010,WZ08-10-01,Ernährungsgewerbe und Tabakverarbeitung,1439,"6963,2","367,4","4,2","54,4"
3,2010,WZ08-13-03,"Textil- und Bekleidungsgewerbe, Ledergewerbe",645,"232,8","95,3","7,0","69,1"
4,2010,WZ08-16,"H.v. Holz-, Flecht-, Korb-u.Korkwaren (ohne Mö...",401,"3635,4","56,2","2,9","47,4"

In [12]:
waste_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Year                                 42 non-null     int64
 1   Industry Code                        42 non-null     object
 2   Industry                             42 non-null     object
 3   Number Of Companies                  42 non-null     int64
 4   Amount Of Waste Generated (1000t)    42 non-null     float64
 5   Number Of Employees (1000)           42 non-null     float64
 6   Degree Of Coverage Of Companies (%)  42 non-null     float64
 7   Degree of coverage of employees (%)  42 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.8+ KB

In [11]:
for col in column_names[4:]:
    waste_df2[col] = waste_df2[col].apply(lambda x: to_float(x))

In [13]:
waste_df2['Industry'] = waste_df2['Industry'].apply(lambda x: translator.translate(x).text)
waste_df2.to_csv("cleaned_32161-0003_Waste-Generation-firms-amount-employees-degree.csv", index=False)

## Waste Generation-sector-type-amount.csv
Table: 32161-0002
Columns: Year, Sector Code, Economic Sector, EAV Code, Waste Description, Number Of Companies, Amount Of Waste Generated (1000t)
Read Lines: 8 - 931
To Translate: Waste Description, Economic Sector

In [16]:
column_names = "Year, Sector Code, Economic Sector, EAV Code, Waste Description, Number Of Companies, Amount Of Waste Generated (1000t)"
column_names = column_names.split(", ")
column_names

['Year',
 'Sector Code',
 'Economic Sector',
 'EAV Code',
 'Waste Description',
 'Number Of Companies',
 'Amount Of Waste Generated (1000t)']

In [17]:
filename3 = "Waste Generation-sector-type-amount.csv"
waste_df3 = pd.read_csv(filename3, sep=";", encoding="latin-1", header=None, names=column_names, skiprows=7, nrows=931-7, na_values="-")
waste_df3.head()

,Year,Sector Code,Economic Sector,EAV Code,Waste Description,Number Of Companies,Amount Of Waste Generated (1000t)
0,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",EAV-01,Abfälle aus der Gewinnung von Bodenschätzen,NaN,NaN
1,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",EAV-02,"Abfälle aus Landwirtschaft, Forstwirtschaft u.a.",24.0,"16,4"
2,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",EAV-03,Abfälle aus der Holzbearbeitung u.a.,NaN,NaN
3,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",EAV-04,"Abfälle aus der Leder-, Pelz- und Textilindustrie",NaN,NaN
4,2010,WZ08-01-03,"Land- und Forstwirtschaft, Fischerei",EAV-05,"Abfälle aus der Erdölraffination, Erdgasreinigung",NaN,NaN

In [25]:
waste_df3['Amount Of Waste Generated (1000t)'] = waste_df3['Amount Of Waste Generated (1000t)'].apply(lambda x: to_float(x))

In [21]:
econ_sectors = waste_df3['Economic Sector'].unique()
econ_sectors_en = [translator.translate(x).text for x in econ_sectors]
econ_sectors_mapping = dict(zip(list(econ_sectors), econ_sectors_en))
waste_df3['Economic Sector'] = waste_df3['Economic Sector'].apply(lambda x: econ_sectors_mapping[x])
waste_df3['Economic Sector'] = waste_df3['Economic Sector'].str.title()

In [20]:
waste_df3['Waste Description'] = waste_df3['Waste Description'].apply(lambda x: translator.translate(x).text)
waste_df3.to_csv("cleaned_32161-0002_Waste Generation-sector-type-amount.csv", index=False)

In [27]:
waste_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924 entries, 0 to 923
Data columns (total 7 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               924 non-null    int64
 1   Sector Code                        924 non-null    object
 2   Economic Sector                    924 non-null    object
 3   EAV Code                           882 non-null    object
 4   Waste Description                  924 non-null    object
 5   Number Of Companies                784 non-null    float64
 6   Amount Of Waste Generated (1000t)  784 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 50.7+ KB

In [29]:
waste_df3.to_csv("cleaned_32161-0002_Waste Generation-sector-type-amount.csv", index=False)

## Waste Generation-year-type-amount.csv
Table: 32161-0001
Columns: Year, EAV Code, Waste Description, Number Of Companies, Amount Of Waste Generated (1000t)
Read Lines: 8 - 2737
To Translate: Waste Description

In [30]:
column_names = "Year, EAV Code, Waste Description, Number Of Companies, Amount Of Waste Generated (1000t)"
column_names = column_names.split(", ")
column_names

['Year',
 'EAV Code',
 'Waste Description',
 'Number Of Companies',
 'Amount Of Waste Generated (1000t)']

In [31]:
filename4 = "Waste Generation-year-type-amount.csv"
waste_df4 = pd.read_csv(filename4, sep=";", encoding="latin-1", header=None, names=column_names, skiprows=7, nrows=2737-7, na_values="-")
waste_df4.tail()

,Year,EAV Code,Waste Description,Number Of Companies,Amount Of Waste Generated (1000t)
2725,2018,EAV-200307-U,Sperrmüll,2296.0,"51,1"
2726,2018,EAV-200399-U,Siedlungsabfälle a.n.g.,91.0,"4,5"
2727,2018,EAV-99,Gefährliche Abfälle,NaN,NaN
2728,2018,EAV-990000-G,Gefährliche Abfälle insgesamt,NaN,NaN
2729,2018,NaN,Insgesamt,19945.0,"67916,3"

In [33]:
waste_df4['Amount Of Waste Generated (1000t)'] = waste_df4['Amount Of Waste Generated (1000t)'].apply(lambda x: to_float(x))

In [35]:
waste_df4['Waste Description'] = waste_df4['Waste Description'].apply(lambda x: translator.translate(x).text)

In [36]:
waste_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2730 entries, 0 to 2729
Data columns (total 5 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Year                               2730 non-null   int64
 1   EAV Code                           2727 non-null   object
 2   Waste Description                  2730 non-null   object
 3   Number Of Companies                2075 non-null   float64
 4   Amount Of Waste Generated (1000t)  2075 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 106.8+ KB

In [38]:
waste_df4.to_csv("cleaned_32161-0001_Waste-Generation-year-type-amount.csv", index=False)